body {
		background: gainsboro;
		text-align: center;
}

.container {
    padding: 1%;
}

.plus:after {
    content: "+";
    font-weight: bold;
    font-size: 50px;
}

.minus:after {
    content: "-";
    font-weight: bold;
    font-size: 50px;
}

.btn {
    margin: 30px;
}